tests/Flavio.SSO.Core.ServicesTests/Service References/ServiceReference/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Flavio.SSO.Core.Application.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Flavio.SSO.Core.Application.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49993/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfGroupViewModel" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LogonTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserViewModel" nillable="true" type="tns:UserViewModel" />
  <xs:complexType name="ArrayOfGroupViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupViewModel" nillable="true" type="tns:GroupViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupViewModel" nillable="true" type="tns:ArrayOfGroupViewModel" />
  <xs:complexType name="GroupViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupViewModel" nillable="true" type="tns:GroupViewModel" />
</xs:schema>